.cart{
  width: 90%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-areas: 
  "left right";
  grid-template-columns: 3fr 2fr;
}
.cart .left{
  grid-area: 'left';
}
.cart .left .cart-items{
  display: flex;
  justify-content: space-between;
  border-top: 1.5px solid #BDBDBD;
  padding: 1.2rem 2rem 1.2rem 0;
}
.cart .left .cart-items .item-details, .cart .left .cart-items .figures{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
.cart .left .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  font-family: 'Prata', sans-serif;
  font-size: .8em;
}
.cart .left .cart-img{
  height: 100px;
  width: 100px;
  border: 1px solid #DFC865;
  border-radius: 0 20px 0 20px;
}
.cart .left .cart-img img{
  width: 100%;
  border-radius:0 20px 0 20px;
}
.cart .figures{
  font-size: 1.5em;
  font-weight: bold;
}
.cart .figures input{
  width: 50px;
  height: 30px;
  border: none;
  background-color: #F7F5EF;
  padding: .5rem;
  cursor: pointer;
}
.cart .figures .trash-can{
  color: #989898;
}
.cart .right{
  grid-area: 'right';
  background-color: #F7F7F6;
  padding: 1.5rem;
  font-family: 'Inter', sans-serif;
  height: fit-content;
}
.cart .right .total{
  background-color: #fff;
  padding: 1rem;
  font-size: 1.5em;
}
.cart .right .total>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem 0;
}
.cart .right .total>div p{
  color: #7C7C7C;
  font-weight: 600;
}
.cart .right .line{
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #BDBDBD;
}
.cart .right .check-btn{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cart .right .check-btn button:first-child{
  background-color: #C59B2D;
  color: #F7F7F6;
  padding: 1rem;
  text-align: center;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0 15px 0 15px;
}
.cart .right .check-btn button:nth-child(2){
  background-color: #F7F7F6;
  color: #C59B2D;
  border: 1px solid #C59B2D;
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0 15px 0 15px;
}
.cart .right>p{
  font-size: .85rem;
  color: #989898;
  width: 70%;
  text-align: center;
  margin: 1rem auto 0;
}